<font color="blue"><%= flash[:notice] unless flash.empty? %></font>

<!-- post_or_put_route(@recipe, '/recipes') -->
<form name="create_recipe" action='<%= @recipe.new? ? "/recipes" : "/recipes/#{@recipe.id}" %>'
  method="POST">

  <h2><%= @recipe.new? ? 'Create a new recipe' : 'Edit recipe' %></h2>
  <p/>
  <p/>Title
  <br/><input type='text' name='title' value='<%= @recipe.title if @recipe %>'>
  <p/>Created By
  <br/><input type='text' name='created_by' value='<%= @recipe.created_by if @recipe %>'>
  <p/>Description
  <br/><input type='text' name='description' value='<%= @recipe.description if @recipe %>'>
  <p/>Instructions
  <br/><input type='text' name='instructions' value='<%= @recipe.instructions if @recipe %>'>
  <p/>

  <%= submit_button(@recipe) %>
  <%= input_tag_for_put(@recipe) %>
</form>

<% unless @recipe.new? %>
  <form name="destroy_recipe" action='<%= "/recipes/#{@recipe.id}" %>' method="POST">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
  </form>
<% end %>
  <%= back_to_index %>
