<!-- post_or_put_route(@recipe, '/recipes') -->

<%= puts flash %>
<%= flash[:notice] unless flash.empty? %>

<form name="create_recipe" action='<%= @recipe.new? ? "/recipes" : "/recipes/#{@recipe.id}" %>'
  method=POST>

  <h2><%= @recipe.new? ? 'Create a new recipe' : 'Edit recipe' %></h2>
  <p/>
  <p/>Title
  <br/><input type='text' name='title' value='<%= @recipe.title if @recipe %>'>
  <p/>Created By
  <br/><input type='text' name='created_by' value='<%= @recipe.created_by if @recipe %>'>
  <p/>Description
  <br/><input type='text' name='description' value='<%= @recipe.description if @recipe %>'>
  <p/>Instructions
  <br/><input type='text' name='instructions' value='<%= @recipe.instructions if @recipe %>'>
  <p/>

  <input type='submit' value=
    <% if @recipe.new? %>
      <%= "'Create'>" %>
    <% else %>
      <%= "'Edit'>" %>
      <%= "<input type='hidden' name='_method' value='put'>" %>
      <%= "<a href='/'>Back to all recipes</a>" %>
    <% end %>
</form>
